<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="page2" id="page-button3" style="border-radius:10px 10px 10px 10px;" class=" button button-positive button-large button-block ">BUY</a>
        <a ui-sref="page3" id="page-button1" style="border-radius:10px 10px 10px 10px;" class=" button button-positive button-large button-block ">SELL</a>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>