<ion-view title="Page" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page3-form3" class="list ">
            <label class="item item-input " id="page3-textarea1">
                <span class="input-label">Selling</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="page3-input1">
                <span class="input-label">Asking Price</span>
                <input type="number" placeholder="">
            </label>
            <ion-item class="range range-positive " id="page3-range1">Quality
                <input type="range" value="5" min="0" max="10">
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </form>
        <button id="page3-button4" class=" button button-positive  button-block ">Sell</button>
    </ion-content>
</ion-view>